html {
  font-size: 10px !important;
}

body {
  margin: 0;
  //font-family: 'PT Sans Caption', sans-serif !important;
  font-family: 'Montserrat', sans-serif;
}

$accent: #d24a43;
$accent_op: rgba(210, 74, 67, 0.9);
$primary: #313647;
$primary_op: rgba(49, 54, 71, 0.9);
$primary_03: rgba(49, 54, 71, 0.3);
//$dark: ;

$secondary: #888888;
$light: #ffffff;
$light_op: rgba(255, 255, 255, 0.9);
$ground: #e8e8e8;
$ground_op: rgba(232, 232, 232, 0.5);

$warning: #FF8800;
$warning_op: rgba(255, 136, 0, 0.9);

$gradient-accent: linear-gradient(145deg, $warning, $accent);
$gradient-wtw: linear-gradient(to bottom, $light, $light_op, $light);
$gradient-gtd: linear-gradient(145deg, $light, #2c3e50);
$gradient-gtp: linear-gradient(-105deg, $ground_op, $primary_op);
$gradient-intro: linear-gradient(55deg, $primary, $primary_03);
$gradient-gtg: linear-gradient(145deg, $accent_op, $warning_op);
$gradient-pta: linear-gradient(-105deg, rgba(238, 67, 69, 0.9), rgb(49, 54, 71));

$anim: 0.3s;
$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-lg: 2.4rem;
$fz-xl: 3rem;


@import "services";
@import "svg-bg";

section {
  position: relative;
  z-index: 1;
  padding: 8rem 0;
  background-color: $light;
  transform: translate3d(0,0,0);
}

.gl {
  &__navbar {
    right: auto;
    width: auto;
    min-width: 80%;
    max-width: 100%;
    height: 6rem;
    padding: 0 3rem 0 0;
    box-shadow: none;
    @media screen and (max-width: 1000px){
      min-width: auto;
      height: 5rem;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      border-radius: 0 0 0.6rem 0;
      transform: skew(-30deg);
    }
    &:after {
      top: 0;
      right: 0;
      width: 110%;
      height: 100%;
      background-color: $light;
      border: solid $accent;
      border-width: 0 3px 3px 0;
      box-shadow: 0 2px 5px $primary_op;
    }
    &:before {
      top: .75rem;
      right: -.4rem;
      height: 100%;
      width: 10rem;
      border: solid $primary;
      border-width: 0 3px 3px 0;
    }
    .navbar-nav {
      position: relative;
      z-index: 3;
      flex-direction: row;
      margin-left: auto;
      @media screen and (max-width: 1000px){
        position: absolute;
        top: 5rem;
        flex-direction:  column;
        background: $light;
        border-radius: 0 0 1rem 0;
        border-style: solid;
        border-width:  0 2px 2px 0;
        transform: translate(-100%, 0);
        opacity: 0;
        transition: $anim all;
        &.open{
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
    .nav-item {
      padding: 1rem;
      font-size: $fz-md;
    }
    .nav-link {
      position: relative;
      color: $primary;
      font-weight: bold;
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $accent;
        transform: scaleX(0);
        transition: $anim all;
      }
      &:hover{
        &:after{
          transform: scaleX(1);
        }
      }
    }
  }

  &__logo-wrapper{
    display: block;
    height: 100%;
    padding: 1.5rem;
  }
  &__logo {
    position: relative;
    z-index: 100;
    max-height: 100%;
  }

  &__heading {
    position: relative;
    display: inline-flex;
    font-weight: bold;
    font-size: $fz-lg;
    line-height: 1.5;
    padding: 0.2rem 0;
    margin-bottom: 8rem;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 6rem;
      height: 3px;
      background-color: $accent;
    }
    &--sm {
      font-size: $fz-lg !important;
      font-weight: bold;
    }
    &--lg{
      font-size: $fz-xl !important;
      font-weight: bold;
    }
  }

  &__intro{
    position: relative;
    display: flex;
    height: 600px;
    max-height: 100vh;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    .carousel{
      position: relative;
      z-index: 5;
      width: 100%;
      &-inner, &-item{
        height: 100%;
      }
    }
    @media screen and (max-width: 1000px){
      .carousel-control-next, .carousel-control-prev{
        top: auto;
        bottom: 1rem;
        width: 4rem;
        height: 4rem;
      }
      .carousel-control-next{
        right: 2rem;
      }
      .carousel-control-prev{
        left: auto;
        right: 6rem;
      }
      .carousel-indicators{
        display: none;
      }
    }
  }

  &__slider-inner {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    //color: $primary;
    background-image: $gradient-intro;
    .gl__heading--sm {
      text-align: left !important;
      margin-bottom: 2rem;
      word-break: break-word;
    }
  }

  &__slide-item {
    text-align: left;
    font-size: $fz-lg;
    @media screen and (max-width: 1000px){
      font-size: $fz-md;
      line-height: 1.3;
    }
  }

  &__slide-desc {
    margin-bottom: 1rem;
    font-size: $fz-lg;
    text-align: left;
    @media screen and (max-width: 1000px){
      font-size: $fz-md;
      line-height: 1.3;
    }
  }

  &__slide-list{
    padding: 0;
    list-style: none;
  }

  &__services{
    .btn{
      display: inline-flex;
      align-items: center;
      width: auto;
      margin: 2rem 0 0;
      background-image: $gradient-accent !important;
      border-radius: 2rem;
      &:active{
        background-image: $gradient-accent !important;
      }
      &:hover{
        color: $light;
      }
      @media screen and (max-width: 1000px){
        margin: auto;
      }
    }
  }

  &__advantages{
    background: $gradient-wtw, url('../img/ground.png') center center no-repeat fixed;
    background-color: $light;
    background-size: cover;
    .col{
      display: flex;
      align-items: stretch;
    }
  }

  &__advantages-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__advantages-item {
    display: flex;
  }

  &__advantage {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    padding: 2rem 3rem;
    .card-title {
      font-size: $fz-lg;
      font-weight: bold;
    }
    .card-text {
      font-size: $fz-md !important;
    }
    .hexagon {
      margin-right: 2rem;
    }
  }

  &__team-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 4rem;
    @media screen and (max-width: 800px){
      flex-direction: column;
      align-items: center;
    }
    &:nth-child(2n){
      flex-direction: row-reverse;
      @media screen and (max-width: 800px){
        flex-direction: column;
      }
      .name{
        align-items: flex-end;
        @media screen and (max-width: 800px){
          align-items: flex-start;
        }
        &:after{
          left: auto;
          right: -1.9rem;
          transform: skew(-30deg);
          border-width: 0 3px 3px 0;
          border-radius: 0 0 0.6rem 0;
          @media screen and (max-width: 800px){
            transform: none;
            left: 0;
            right: 0;
            border-width: 0 0 3px;
            border-radius: 0;
          }
        }
      }
    }
    .desc{
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 6rem;
      @media screen and (max-width: 800px){
        padding: 2rem;
      }
    }
    .name{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      height: 12.5rem;
      padding: 2rem 1rem 1rem;
      font-weight: bold;
      &:after{
        content: '';
        position: absolute;
        bottom: -1px;
        left: -1.9rem;
        display: block;
        height: 6rem;
        width: 100%;
        border-style: solid;
        border-color: $accent;
        border-width: 0 0 3px 3px;
        border-radius: 0 0 0 0.6rem;
        transform: skew(30deg);
        @media screen and (max-width: 800px){
          transform: none;
          left: 0;
          border-width: 0 0 3px;
          border-radius: 0;
        }
      }
      .position{
        font-size: $fz-sm;
        color: $secondary;
      }
    }
    .info{
      padding: 1rem;
    }
  }

  &__contacts{
    //background: $gradient-accent, url('../img/ground.png') center center no-repeat;
    background-color: rgba(0,0,0, 0.6);
    //background-image: linear-gradient(55deg, #313647, rgba(49, 54, 71, 0.3));
    //background-size: cover;
    padding-bottom: 6rem;
    .btn--gl, .btn--gl:active{
      //background-color: $primary;
      background-image: $gradient-accent !important;
    }
    .gl__heading{
      color: $light;
      //&:after {
      //  background-color: $primary;
      //}
    }
    .gl__label{
      color: $light;
      //color: $primary;
      font-weight: bold;
    }
  }

  &__partners{
    //margin-bottom: 6rem;
    .row{
      display: flex;
      align-items: center;
    }
  }

  &__form {
    &--footer {
      padding: 2rem 0;
      background: $gradient-accent;
      color: $primary;
      .btn {
        margin-left: 2rem;
        background-color: $primary;
      }
    }
  }

  &__card{
    &--advantage{
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 4rem;
      padding: 3rem;
      border-radius: 1rem;
      box-shadow:
              0 10px 20px 0 $ground_op,
              0 20px 40px 0 $ground_op;
      transition: $anim/3 all;
      @media screen and (max-width: 800px){
        padding: 1.5rem;
      }
      .card-header {
        background-color: transparent;
        border: none;
        margin-bottom: 2rem;
        img{
          width: 120px;
          height: auto;
          margin: auto;
        }
      }
      .gl__heading--sm{
        font-size: 2rem !important;
        text-align: center;
        margin-bottom: 3rem;
      }
      .card-text{
        text-align: center;
      }
    }
  }

  &__input{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 4rem;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
  }

  &__label{
    font-size: $fz-sm;
  }

  &__map-wrapper{
    padding: 0 3rem;
    @media screen and (max-width: 1000px){
      display: none;
    }
  }

  &__map{
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    //box-shadow: 0 20px 40px 0 $primary_op;
    //filter: drop-shadow($primary_op 10px 10px 20px);
  }

  &__footer{
    padding-top: 4rem;
    background-color: $primary;
    //background-image: $gradient-gtp;
    hr{
      background-color: $accent;
    }
    .footer{
      &__logo {
        max-width: 200px;
        margin-bottom: 2rem;
      }
      &__tagline{
        max-width: 350px;
      }
      &__column{
        @media screen and (max-width: 800px){
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 3rem;
          h6, hr, p, a{
            text-align: left !important;
            margin: 0 0 1rem !important;
          }
        }
        a{
          display: block;
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
    .footer-copyright{
      margin-top: 4rem;
    }
  }
}

.intro__animate-bg{
  position: fixed;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0,0,0);
  video{
    position: fixed;
    z-index: -100;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
}

.hexagon {
  fill: transparent;
  stroke: $primary;
  &__wrapper {
    position: relative;
    max-width: 100%;
    width: auto;
  }
  &__path {
    stroke: $primary;
  }

  &__ico{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
  }
}

.tech {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__ico {
    height: 15rem;
    margin: 0 3rem 3rem;
    @media screen and (max-width: 1000px){
      height: 8rem;
    }
  }
}

.form {
  &--horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .gl__input{
      border-radius: 2rem;
    }
  }
  &--vertical{
    display: flex;
    flex-direction: column;
    //color: $primary;
    color: $light;
    .btn--gl{
      margin: 2rem auto !important;
      border-radius: 2rem;
    }
  }
  &__desc {
    font-weight: bold;
  }
}

.text {
  &--md {
    font-size: $fz-md !important;
  }
  &--lg {
    font-size: $fz-lg !important;
  }
  &--xl {
    font-size: $fz-xl !important;
  }
}

.btn {
  &-rounded {
    border-radius: 3rem;
  }
  &--gl, &--gl:active{
    background:{
      image: $gradient-gtp !important;
      size: 200%;
      position: top left;
    }
    transition: $anim;
    &:hover{
      background-position: bottom right;
    }
  }
  &--lg{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    max-width: 100%;
    padding: 0 3rem;
    font-size: $fz-md;
  }
  &--local{
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    box-shadow: 0 2px 5px $primary_op;
    overflow: hidden;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
    }
  }
}

#advantages-blckchn{
  //background-image: url('../img/lines.svg');
  //background-position: center right;
  //background-repeat: no-repeat;
  margin-bottom: 6rem;
  .gl__card--advantage{
    flex-direction: row;
    @media screen and (max-width: 1000px){
      flex-direction: column;
    }
    .card-body{
      flex: 1;
      margin-left: 3rem;
      @media screen and (max-width: 1000px){
        margin-left: 0;
      }
    }
    .card-text{
      text-align: left;
      font-size: $fz-md;
    }
    .card-title{
      display: inline-block;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid $accent;
    }
  }
}

#advantages-graphene{
  .owl-carousel{
    @media screen and (max-width: 1000px){
      margin: auto;
    }
    .owl-stage{
      display: flex;
      align-items: stretch;
    }
    &.owl-drag .owl-item{
      display: flex;
      padding-bottom: 4rem;
    }
  }
}

.clip-svg {
  width: 0;
  height: 0;
}

.hexagon-mask{
  stroke-linejoin: round;
  stroke-width: 8;
  stroke: $ground;
}

img {
  max-width: 100%;
  height: auto;
}

b, strong{
  font-weight: bold;
}

.avatar__wrapper{
  filter: drop-shadow($secondary 0 5px 5px);
}

.avatar {
  width: 250px;
  -webkit-clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
  clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
  -webkit-clip-path: url("#polygon-clip-hexagon");
  clip-path: url("#polygon-clip-hexagon");
}

.product{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 6rem;
  padding: 0;
  @media screen and (max-width: 800px){
    flex-direction: column;
  }
  &__image-wrapper{
    width: 40%;
    padding: 0.5rem;
    border-radius: 0.8rem;
    transform: translate(-2rem, -3rem);
    filter: drop-shadow($ground 0 0 10px);
    transition: $anim all;
    @media screen and (max-width: 800px){
      width: 100%;
      padding: 1.5rem;
      transform: none;
    }
    &:hover{
      filter: drop-shadow($ground 0 0 15px);
      .product__image{
        transform: rotate3d(-15,15, 0,15deg);
      }
    }
  }
  &__image{
    width: 100%;
    margin: 0;
    border-radius: 0.8rem;
    transform: rotate3d(0,0, 0,0);
    transition: $anim all;
  }
  &__info{
    flex: 1;
    margin-left: -5rem;
    padding: 3rem 3rem 3rem 5rem;
    border-radius: 0.8rem;
    box-shadow:
            0 10px 20px 0 $ground_op,
            0 20px 40px 0 $ground_op;
    @media screen and (max-width: 800px){
      width: 100%;
      margin: -10rem 0 0;
      padding: 12rem 2rem 6rem;
    }
    .text--lg{
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  &__sources{
    position: absolute;
    bottom: 2rem;
    left: -2rem;
    display: flex;
    justify-content: center;
    width: 40%;
    .social-icons{
      &:not(:last-child){
        margin-right: 1rem;
      }
      padding: 0.5rem;
      border-radius: 50%;
      box-shadow: none;
      &:hover{
        box-shadow: 0 5px 10px 0 $ground_op;
      }
      img{
        width: 2rem;
      }
    }
    @media screen and (max-width: 800px){
      left: 0;
      right: 0;
      width: 100%;
      bottom: 1rem;
      .social-icons{
        img{
          width: 4rem;
        }
      }
    }
  }
}

.partners{
  flex-wrap: wrap;
  align-items: stretch !important;
  justify-content: center;
  &__item{
    display: flex;
    margin-bottom: 3rem;
    @media screen and (max-width: 800px){
      width: 100%;
      flex-basis: auto;
    }
    .gl__card{
      flex: 1;
      align-items: center;
      justify-content: center;
      padding: 3rem;
      border-radius: 0.8rem;
      transition: $anim all;
      box-shadow:
              0 10px 20px 0 $ground_op,
              0 20px 40px 0 $ground_op;
      @media screen and (max-width: 800px){
        padding: 1rem 2rem;
      }
      .card-body{
        display: flex;
        align-items: center;
        @media screen and (max-width: 800px){
          img{
            height: 5rem;
          }
        }
      }
      &:hover{
        box-shadow:
                0 5px 10px 0 $ground_op,
                0 10px 20px 0 $ground_op;
      }
    }
  }
}

.map__marker{

}

.blur{
  filter: blur(2px);
}
